<!DOCTYPE html>
<html ng-app="ssqSignonExampleSSOSlaveApp">
<head lang="en">
    <meta charset="UTF-8">
    <base href="/">
    <title>SSQ signon example sso slave app</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
    <script src="//rawgit.com/rivierasolutions/angular-ssqsignon/1.0.6/angular-ssqsignon.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="landingCtrl">
    <div class="container">
        <div class="page-header">
            <h1>SSQ signon example sso slave app</h1>
            <div class="btn btn-primary" ng-click="startSSO()" ng-show="loggedIn == false">Login with <em>SSQ signon example app</em></div>
            <span ng-if="loggedIn" ng-hide="accessDenied">Welcome <strong>{{ userId }}</strong>! <button class="btn btn-default btn-sm" ng-click="logout()">Logout</button></span>
        </div>
        <div class="alert alert-warning text-center" ng-if="accessDenied">
            You have denied access on the login website. Reload the page to try again.
        </div>
        <div ng-if="hamster">
            <span style="font-size: 102px; color: white; background-color: black">&#128057;</span>
            <br/>
            {{hamster}}
        </div>
    </div>
</body>
</html>